.entire-page{
  width: calc(100% - 20%);
  margin: 0 auto;
}

/* ! Image manipulation */

.spot-details-images-container {
    display: flex; 
    max-width: 100%; 
    margin: 0 auto; 
}

.spot-details-large-image-container {
    flex: 1; 
    max-width: calc(50% - 5px); 
}

.spot-details-large-image {
    width: 97%;
    height: 100%;
    object-fit: cover;
    border: solid;
}

.spot-details-small-images-container {
    flex: 1; 
    max-width: calc(50% - 5px); 
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto auto; 
    gap: 10px;
}

.spot-details-small-image {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border: solid;
}

/* ! Styles for text and callout info box */

.second-half-spot-details-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid gray;
}

.text-container{
  flex: 8;
}

.callout-info-box-container{
  flex: 2;
  border: solid 3px;
  margin-top: 15px;
  border-radius: 5px;
  width: 100%;
  margin-right: 3px;
  margin-bottom: 20px;
}

.spot-reserve-box-price-and-reviews {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-grow: 1; 
  width: 80%;
}

.reserve-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.reserve-button button{
  background-color: #FF5A5F;
  color: white;
  padding: 10px 20px; 
  border: none;
  border-radius: 4px; 
  cursor: pointer; 
  width: 80%;
  margin-bottom: 20px;
}

.smol-price {
  flex: 1; 
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}

.rating-review-container {
  display: flex;
  flex: 1; 
  justify-content: flex-end;
  align-items: center;
}

.smol-avgRating,
.smol-reviewItem {
  flex: 1;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hosted-by{
  font-weight: bold;
  font-size: 1.5em;
}

.fas.fa-star {
  font-size: 15px;
}

.interpunct-adjust{
  margin-left: 5px;
}
