#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #999;
  }
  
  .modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .confirm-delete-text{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.delete-review-paragraph {
    text-align: center;
    width: 100%;
}

.modal-buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    gap: 10px; 
}

.modal-buttons button {
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    font-size: 1rem; 
    font-weight: bold; 
    cursor: pointer; 
    margin: 5px 0; 
}

.delete-button {
    background-color: #ff6868; 
    color: white;
}

.cancel-button {
    background-color: #c4c4c4; 
    color: black;
}
