#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
}

.x-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #999;
}

.post-review-modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-title{
    text-align: center;
    font-size: 1.2em;
}

.review-input-box{
    width: 100%;
    box-sizing: border-box;
}

.review-input-box textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 15px;
    border: 2px solid black;
    box-sizing: border-box;
    resize: none;
    background-color: aliceblue;
}

.starRating-icons{
    text-align: center;
    font-size: 1.8em;
    margin: 10px;
    margin-top: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.stars{
    cursor: pointer;
    font-size: 1em;
}

.submit-review-button button {
    width: calc(100% - 20px); 
    padding: 10px 0; 
    background-color: #ff6868; 
    color: white; 
    border-radius: 4px; 
    font-size: 1em; 
    margin: 10px auto; 
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    display: block; 
    cursor: pointer; 
}

.submit-review-button button:disabled {
    background-color: lightgray;
    color: white;
    cursor: not-allowed; 
    box-shadow: none;

}

.starRating-and-submit-container {
    text-align: center; 
    padding: 10px; 
}
