.login-text-container {
    text-align: center;
    font-size: 13px;
}

.username-or-email-input{
    width: 100%;
}

.username-or-email-input input {
    width: 100%;
    padding: 10px;
    border: 2px solid black; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: aliceblue;
}

.password-input {
    width: 100%;
}

.password-input input {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-bottom: 10px; 
    background-color: aliceblue;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}

.login-button {
    width: 100%; 
    box-sizing: border-box;
}

.login-button button{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 1px 1px 1px 1px black;
    color: white;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:disabled {
    background-color: white; 
    color: gray;
    cursor: not-allowed; 
    box-shadow: none;
}

.demo-user-button {
    width: 100%; 
    box-sizing: border-box;
}

.demo-user-button button{
    width: 100%;
    height: 40px;
    border:none;
    background-color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: darkcyan;
}

.error-message{
    color: lightcoral;
    font-weight: bold;
}
